@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Secular+One&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*{
    font-family: "Space Grotesk";
    scroll-behavior: smooth;
}

:root{
    --box-shadow:    rgba(0, 0, 0, 0.247);
}


.sticky{
    /* height: 10vh; */
    background: #fefefef1;
    top: 0;
    box-shadow: 0px 0px 10px 0px var(--box-shadow);
    /* box-shadow: 0px 0px 2px 1px #fff; */
    transition: 0.5s all ease-in-out;
    backdrop-filter: blur(6px) saturate(147%);
    -webkit-backdrop-filter: blur(6px) saturate(147%);
    background-color: rgba(255, 255, 255, 0.96);
}

.blog_img_holder{
    background: url("/src/image/profile.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
    animation: animate 5s ease-in-out infinite;
    transition: all 1s  ease-in-out;
}

@keyframes animate{
    0%,100%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 30%;
    }
}


.preloader{
    --bg-color : #000411;
    position: fixed;
    width: 100%;
    --size: 90px;
    --fisrt-color: #ffaa0c;
    --second-color: #dd0000;
    --third-color: #fefefef3;
    --duration: 1s;
    --thickness: 3px;
    display: flex;
    top: 0;
    overflow-y: none;
    z-index: 50;
    left: 0;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--bg-color);
    transition: var(--duration);
}
.preloader__content{
    position: relative;
    width: var(--size);
    height: var(--size);
}
.preloader__first,
.preloader__second,
.preloader__third{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    animation: var(--duration) linear infinite;
}
.preloader__first{
    border-bottom: var(--thickness) solid var(--fisrt-color);
    animation-name: first;
}
.preloader__second{
    border-right: var(--thickness) solid var(--second-color);
    animation-name: second;
}
.preloader__third{
    border-top: var(--thickness) solid var(--third-color);
    animation-name: third;
}
@keyframes first{
    0%{transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);}
    100%{transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);}
}
@keyframes second{
    0%{ transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);}
    100%{transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);}
}
@keyframes third{
    0%{transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);}
    100%{transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);}
}
/* End Of Preloader */


.banner{
    background-color: #fefefee1;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%231f00e7' fill-opacity='0.05' fill-rule='evenodd'/%3E%3C/svg%3E");
    /* background-position: center; */
    background-size: contain;
}
